:root {
    --boxinator-valid-color: lawngreen;
    --boxinator-error-color: salmon;
}

.box-form-error {
    background-color: var(--boxinator-error-color);
}

.box-form-valid {
    background-color: var(--boxinator-valid-color);
}

#box-list table {
    border-collapse: collapse;
}

#box-list  table, th, td {
    border: 1px solid black;
}